<div class="flex justify-center items-center h-screen bg-gray-100">
  <div class="card w-full max-w-md p-6 shadow-lg rounded-lg bg-white">
    <h2 class="text-3xl font-bold text-center text-blue-600 mb-6">Redefinir Senha</h2>

    <form (ngSubmit)="onSubmit()" class="space-y-4">
      <!-- Email -->
      <div>
        <!-- <app-input-global [model]="email" id="email" label="E-mail" typeInput="email"></app-input-global> -->
      </div>

      <!-- Nova Senha -->
      <div class="w-full">
        <!-- <app-input-password-global [model]="senha" id="senha" name="senha" class="w-full"></app-input-password-global> -->
      </div>


      <!-- Botão de Redefinir -->
      <div class="pt-4">
        <button pButton type="submit" label="Redefinir Senha" class="w-full p-button-rounded p-button-primary">
        </button>
      </div>
    </form>
  </div>
</div>