<div class="w-full bg-slate-100 min-h-dvh">
  <app-menu></app-menu>


  <div class="w-full flex justify-center p-2 gap-2">

    <div class="w-full">
      <p-card header="Gestão das tarefas">

        <p-orderlist [value]="products" [responsive]="true" filterBy="titulo" filterPlaceholder="Titulo"
          scrollHeight="26rem">

          <ng-template let-option let-selected="selected" #item>


            <div class="flex flex-wrap p-1 items-center gap-4 w-full">

              <div class="">
                <i class="block xl:block mx-auto rounded-border w-full pi pi-check-square text-2xl text-green-800"
                  alt="Tarefas"></i>

              </div>


              <div class="flex-1 flex flex-col">
                <span class="font-medium text-sm">{{ option.titulo }}</span>
                <span [ngClass]="{
                          'text-sm': true,
                          'text-surface-500': !selected,
                          'dark:text-surface-400': !selected,
                          'text-inherit': selected,
                      }">{{ option.descricao }}</span>
              </div>

              <div class="flex flex-col">
                <span class="sm:ml-8">Categoria: <b class="italic">{{option.categoria}}</b></span>
                <span class="text-base italic font-medium text-right sm:ml-8">
                  R$: {{option.valor}}
                </span>
              </div>

            </div>


          </ng-template>


        </p-orderlist>


      </p-card>
    </div>

    <div class="w-full">
      <p-card header="Baixar relatório mensal">

        <div class="w-full flex justify-center py-4">
          <i class="pi pi-file-pdf
          font-bold text-7xl text-blue-700 "></i>
        </div>



        <form [formGroup]="registerForm" (ngSubmit)="onMonth()">


          <div class="w-full py-5 flex items-baseline justify-center">
            <div class="w-1/3 text-center">
              <h2 class="font-semibold text-base italic">
                Selecione
              </h2>
            </div>

            <div class="w-full">
              <p-select [options]="chooseMonth" formControlName="mes" optionDisabled="disabled" [checkmark]="true"
                name="mes" optionLabel="mes" placeholder="Mês"
                [class]="(registerForm.controls['mes'].invalid && (registerForm.controls['mes'].touched || registerForm.controls['mes'].dirty))? classError : class" />

              <div
                *ngIf="(registerForm.controls['mes'].invalid && (registerForm.controls['mes'].touched || registerForm.controls['mes'].dirty))">

                <span class="text-xs text-red-600 font-semibold"
                  *ngIf="registerForm.controls['mes'].errors?.['required']">Mês precisa ser preenchido!</span>


              </div>

            </div>

          </div>

          <p-divider />

          <div class="w-full py-5 flex justify-center">
            <p-button label="Baixar relatório mensal" [disabled]="true" class="w-3/4" [rounded]="true"
              styleClass="width-full" [raised]="true" icon="pi pi-download" />
          </div>


        </form>
      </p-card>
    </div>




  </div>
</div>