<p-password [formControl]="control" [placeholder]="placeholder" [id]="id" promptLabel="Senha" weakLabel="Muito Fácil"
  mediumLabel="Pode melhorar" strongLabel="Senha forte" [toggleMask]="true" 
  [class]="class" autocomplete="off"
  styleClass="width-full" [maxLength]="20">
  <ng-template #header>
    <div class="font-semibold text-xm mb-4">Crie uma senha forte</div>
  </ng-template>
  <ng-template #footer>
    <p-divider />
    <ul class="pl-2 ml-2 my-0 text-xs font-semibold leading-normal">
      <li>1 letra maiúscula</li>
      <li>1 letra minúscula</li>
      <li>1 caracter numérico</li>
      <li>Minímo 6 caracteres</li>
    </ul>
  </ng-template>
</p-password>