<div class="card flex justify-center">

  <p-dialog header="Mesada para mentorado" [modal]="true" [closable]="true" [(visible)]="visible"
    [style]="{ width: '50rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [maximizable]="true">

    <p-divider />

    <div class="w-full p-4">

      <form [formGroup]="registerForm" (ngSubmit)="onAddPayment()">

        <p-fieldset legend="Valor da Mesada" class="">
          <div class="m-4">

            <app-input-global [control]="registerForm.get('mesada')" name="mesada" id="mesada" label="R$"
              [class]="(registerForm.controls['mesada'].invalid && (registerForm.controls['mesada'].touched || registerForm.controls['mesada'].dirty))? classError : class"
              typeInput="text"></app-input-global>

            <div
              *ngIf="(registerForm.controls['mesada'].invalid && (registerForm.controls['mesada'].touched || registerForm.controls['mesada'].dirty))">

              <span class="text-xs text-red-600 font-semibold"
                *ngIf="registerForm.controls['mesada'].errors?.['required']">O valor da mesada precisa ser
                preenchido!</span>
            </div>
          </div>


          <div class="flex justify-center content-center py-7">
            <p-button label="Confirmar" type="submit" [loading]="loading" [rounded]="true" size="large" [raised]="true"
              class="w-4/5" styleClass="width-full" [disabled]="registerForm.invalid"></p-button>
          </div>
        </p-fieldset>

        <app-toast-global [key]="keyToast">
        </app-toast-global>
      </form>


    </div>
  </p-dialog>


</div>