<div class="card flex justify-center">

  <p-dialog header="Redefinir senha" [modal]="true" [closable]="false" [(visible)]="visible"
    [style]="{ width: '50rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [maximizable]="true">

    <div class="card flex justify-center w-full p-4 pt-0">
      <p-fieldset legend="Primeiro acesso" [toggleable]="true" class="w-full">
        <h2 class="text-center font-semibold font text-xl mb-2">Seja bem-vindo(a) ao Happy Do</h2>
        <hr>
        <p class="mt-2 font-normal">
          Estamos muito felizes em ter você por aqui! Esse é o seu primeiro acesso à plataforma, e a jornada já começou
          com o pé direito. 🚀
        </p>
        <p class="mt-2 font-normal">
          Para garantir sua segurança e manter sua conta protegida, pedimos que você <b>redefina sua senha agora
            mesmo.</b> É
          rapidinho e essencial para deixar tudo do seu jeitinho. 🔐
        </p>



      </p-fieldset>
    </div>



    <div class="w-full p-4">
      <form [formGroup]="registerForm" (ngSubmit)="onResetPassword()">


        <div class="mb-4">

          <app-input-global [control]="registerForm.get('email')!" name="email" id="email" label="E-mail"
            typeInput="email"
            [class]="(registerForm.controls['email'].invalid && (registerForm.controls['email'].touched || registerForm.controls['email'].dirty))? classError : class"></app-input-global>

          <div
            *ngIf="(registerForm.controls['email'].invalid && (registerForm.controls['email'].touched || registerForm.controls['email'].dirty))">

            <span class="text-xs text-red-600 font-semibold"
              *ngIf="registerForm.controls['email'].errors?.['required']">E-mail precisa ser preenchido!</span>

            <span class="text-xs text-red-600 font-semibold"
              *ngIf="registerForm.controls['email'].errors?.['email']">E-mail com formato inválido</span>
          </div>


        </div>



        <div class="mb-4">

          <app-input-password-global [control]="registerForm.get('novaSenha')!" id="novaSenha" name="novaSenha"
            placeholder="Nova senha"
            [class]="(registerForm.controls['novaSenha'].invalid && (registerForm.controls['novaSenha'].touched || registerForm.controls['novaSenha'].dirty))? classError : class">
          </app-input-password-global>

          <div
            *ngIf="(registerForm.controls['novaSenha'].invalid && (registerForm.controls['novaSenha'].touched || registerForm.controls['novaSenha'].dirty))">

            <span class="text-xs text-red-600 font-semibold"
              *ngIf="registerForm.controls['novaSenha'].errors?.['required']">Senha precisa ser preenchido!</span>

            <span class="text-xs text-red-600 font-semibold"
              *ngIf="registerForm.controls['novaSenha'].errors?.['minlength']">Senha precisa ser maior que 6
              caracteres!</span>
          </div>

        </div>


        <div class="flex justify-center content-center py-7">
          <p-button label="Confirmar" type="submit" [loading]="loading" [rounded]="true" size="large" [raised]="true"
            class="w-full" styleClass="width-full" [disabled]="registerForm.invalid"></p-button>
        </div>
      </form>
    </div>
  </p-dialog>

  <app-toast-global [key]="keyToast">
  </app-toast-global>

</div>