<div class="w-full h-screen bg-slate-100">
  <app-menu></app-menu>

  <div class="w-full py-2">
    <p-card class="shadow-lg rounded-sm">
      <div class="flex items-center gap-3">
        <h1 class="font-semibold text-2xl"> Olá (Usuário), seja muito bem-vindo(a)</h1>
        <i class="pi pi-users" style="font-size: 2rem; color: rgb(0, 117, 252);"></i>
      </div>
    </p-card>
  </div>

  <div class="w-full flex flex-wrap gap-2">
    <p-card class="shadow-lg rounded flex-1 basis-[321px]" 
    [style]="{borderLeft:'4px solid rgb(0, 117, 252)', height: '100%'}">

      <div class="w-full flex flex-col">

        <p-chart type="doughnut" [data]="chartData" [options]="chartOptions" width="200" height="200">
        </p-chart>

        <span class="m-2 text-center font-medium italic">Overview das tarefas</span>
      </div>
    </p-card>

    <p-card class="shadow-lg rounded flex-1 basis-[321px]"
    [style]="{borderLeft:'4px solid rgb(0, 117, 252)', height: '100%'}">
      <div class="p-4">
        Card 2 - APROVEITAMENTO
      </div>
    </p-card>

    <p-card class="shadow-lg flex-1 basis-[321px]"
    [style]="{borderLeft:'4px solid rgb(0, 117, 252)', height: '100%'}">
      <div class="p-4">
        Card 3 - DESEMPENHO
      </div>
    </p-card>
  </div>








</div>